.red{
    width: 400px;
    height: 400px;
    background-color: red;
    position: static;
}
.road{
    position: relative;
    width: 400px;
    height: 400px;
    background-color: purple;
    top: -422px;
    left: 400px;
    /* bottom: 400px; */
}
.blue{
    width: 400px;
    height: 400px;
    background-color: green;
    position: absolute;
    left: 820px;
    top: 10px;
}
.goat{
    position: fixed;
    width: 400px;
    height: 400px;
    background-color: greenyellow;
    top: 10px;
}
.duck{
    position: sticky;
    width: 400px;
    height: 400px;
    background-color: red;
    top: 10px;
}
