.box{
    height: 200px;
    width: 200px;
    border: 2px solid rgb(255,87,234);
    /* border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 45px; */
    border-radius: 100%;
    /* background-color: rgba(34,189,255,.3); */
    background-color: #efa389;
}